<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <title>FF Event</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Raleway">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">

    <style>
        body,h1,h2,h3,h4,h5 {font-family: "Raleway", sans-serif}
    </style>
</head>
<body class="w3-light-grey">

<th:block th:switch="${role}">

    <div th:case="'2'" class="w3-row">

        <div class="w3-top">
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a th:href="@{/index_logged}" class="w3-bar-item w3-button"><b>FF</b> EVENT</a>
                <!-- Float links to the right. Hide them on small screens -->
                <div class="w3-right w3-hide-small">
                    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
                </div>
            </div>
        </div>
        <br><br>

        <h1>YOU HAVE APPLIED FOR THE EVENT!</h1>
        <div>
            <form th:method="Post" th:action="@{/kitchen/accept/}"   >

                <a href="/index_logged"><button type="submit" class="btn btn-succes" value="OK">OK</button></a>
            </form>
        </div>
    </div>

    <div th:case="'3'" class="w3-row">

        <div class="w3-top">
            <div class="w3-bar w3-white w3-wide w3-padding w3-card">
                <a th:href="@{/index_logged}" class="w3-bar-item w3-button"><b>FF</b> EVENT</a>
                <!-- Float links to the right. Hide them on small screens -->
                <div class="w3-right w3-hide-small">
                    <a href="/logout" class="w3-bar-item w3-button">Logout</a>
                </div>
            </div>
        </div>
        <br><br>

        <h1>YOU HAVE APPLIED FOR THE EVENT!</h1>
        <div>
            <form th:method="get" th:action="@{/judge/accept/}"   >

                <a href="/index_logged"><button type="submit" class="btn btn-succes" value="OK">OK</button></a>
            </form>
        </div>

    </div>

    <div th:case="*" class="w3-row">

        <p>You are not supposed to be here, no one's supposed to be here...</p>
    </div>

</th:block>

<!-- Navbar (sit on top) -->

<!-- Footer -->
<footer class="w3-center w3-grey w3-padding-16">
    <p>Homepage: <a href="https://www.frokostfirmaet.dk/" title="Frokost Firmaet" target="_blank" class="w3-hover-text-green">Frokost Firmaet</a></p>
</footer>
</body>
</html>